form label {
  margin-top: -0.75%;
  width: auto !important;
  height: auto !important;
}

.dash button {
  margin: 5px 0 !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  border-radius: 4px !important;
}

.dash button.w3-button {
  padding: 0 0 !important;
}

.dash h2, .dash h3 {
  margin: 0 0 !important;
  padding: 0 0 !important;
  font-weight: 100 !important;
  letter-spacing: 0.0125em;
}

.dash {
  margin-top: 30px !important;
}

.mt-menu {
  margin-top: 50px !important;
}

#mySidebar {
  z-index:3;
  width: 25% !important;
}

footer p, footer a {
  font-size: 8pt !important;
  color: #a6a6a6;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.99px) {
  #mySidebar {
    width: 100% !important;
  }

  form label {
    margin-top: 3% !important;
    font-size: 10pt !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -o-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    border-radius: 8px !important;
  }

  form {
    margin-top: 10%;
  }

  form button {
    margin-top: 13px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {
  #mySidebar {
    width: 100% !important;
  }

  form label {
    margin-top: 3% !important;
    font-size: 12pt !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -o-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    border-radius: 8px !important;
  }

  nav {
    font-size: 1.5rem !important;
  }
  
  form input {
    font-size: 1.2em;
  }

  form {
    margin-top: 22%;
  }

  form button {
    margin-top: 13px;
  }

  #notify button {
    margin-top: 2% !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 767.99px) and (max-width: 991.98px) {
  #mySidebar {
    width: 55% !important;
  }

  form label {
    margin-top: 1.5% !important;
    font-size: 15pt !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -o-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    border-radius: 8px !important;
  }

  #notify button {
    margin-top: 2% !important;
  }

  #notify {
    width: 65% !important;
  }

  form input {
    font-size: 1.2em;
  }

  nav {
    font-size: 1.20rem !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 991.99px) and (max-width: 1199.98px) {
  #mySidebar {
    width: 55% !important;
  }
  
  form label{
    font-size: 20pt !important;
    -webkit-border-radius: 35px !important;
    -moz-border-radius: 35px !important;
    -o-border-radius: 35px !important;
    -ms-border-radius: 35px !important;
    border-radius: 35px !important;
  }

  form input {
    margin-top: 2.5% !important;
  }

  form {
    margin-top: -18%;
  }

  #notify {
    width: 70% !important;
  }

  #notify button {
    margin-top: 1.5% !important;
  }

  .dash button h2, .dash button h3 {
    font-size: 22pt;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  label{
    font-size: 25pt !important;
    -webkit-border-radius: 35px !important;
    -moz-border-radius: 35px !important;
    -o-border-radius: 35px !important;
    -ms-border-radius: 35px !important;
    border-radius: 35px !important;
    margin-top: -0.4% !important;
  }

  form input {
    font-size: 1.1em;
  }

  .dash button h2, .dash button h3 {
    font-size: 25pt;
  }

  #notify {
    width: 65% !important;
  }

  #notify button {
    margin-top: 1.5% !important;
  }

  .dash button {
    width: 40% !important;
    margin-left: 5.5% !important;
    margin-top: 1.75% !important;
  }
}

@media (min-width: 2000px) {
  label{
    font-size: 28pt !important;
    -webkit-border-radius: 35px !important;
    -moz-border-radius: 35px !important;
    -o-border-radius: 35px !important;
    -ms-border-radius: 35px !important;
    border-radius: 35px !important;
    margin-top: -0.4% !important;
  }

  form input {
    font-size: 1.3em;
  }

  .dash button h2, .dash button h3 {
    font-size: 28pt;
  }

  #notify {
    width: 65% !important;
  }

  #notify button {
    margin-top: 1.6% !important;
  }

  nav {
    font-size: 1.15rem !important;
  }

  .dash button {
    width: 40% !important;
    margin-left: 5.5% !important;
    margin-top: 1.75% !important;
  }
}
